
body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 40px;
    text-align: center;
    background: #a9cce3;
    color: white;
    font-size: 30px;
}
.sidenav {
    float: left;
    width: 20%;
    height: 600px;
    background: #7fb3d5;
    padding: 20px;
    color: white;
    text-align: center;
}
.content{
    float: left;
    margin: 15px;
    width:60%;
    height: 300px;
    text-align: center;
}

.btn {
    background-color:#d3d3d3;
    width: 25%;
    padding: 9px 5px;
    margin:10px  35px;
    cursor:pointer;
    border: 1px solid #000000;
    color:#000000;

}

input[type=text], select {
    width: 70%;
    padding: 10px;
    margin: 7px 0 28px 0;
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #000000;
}
input[type=text]:focus, select:focus {
    background-color: #ddd;
    outline: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a9cce3;
    color: white;
    text-align: center;
}